$main-color: #000;
$secondary-color: #fff;

body {
	background-color: lighten($main-color, 85%);
}
  
input {
	font-size: 3em;
	width: 80%;
}

@media only screen and (max-width: 600px) {
	input {
		font-size: 2em;
		width: 40%;
  }
}